<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{>icon}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Sai Siddardha. It uses data from weatherstack.com and mapboxapi.com to get weather
            data.
        </p>

        <img class="portrait" src="/img/nodemonImg.png">
    </div>

    {{>footer}}
</body>

</html>